/* styles for my fansite page */

* {
    margin: 0px;
    padding: 0px;

}

body {
  background-color: rgb(17, 92, 63);
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

h1 {
  color: rgb(224, 163, 31);
  font-size: 18pt;
  margin-bottom: 10px;

}

h2 {
  margin: 0 20px 5px 10px;
}

a {
  color: rgb(255, 0, 0);
}

a:link {
  color: rgb(0, 255, 0);
}

a:hover {

  color: rgb(100, 100, 100);

}

ul {
  margin-left: 30px;
}

.band-member {
  color: rgb(255, 0, 0);
}
